<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/viktorijavikabudget/css/biudzetostilius.css'  filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}

            {% stylesheets 'bundles/viktorijavikabudget/css/bootstrap.css'  filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}

            {% stylesheets 'bundles/viktorijavikabudget/css/bootstrap-theme.css'  filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>

            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}


            {#<link href="{{ asset('bundles/viktorijavikabudget/css/biudzetostilius.css' ) }}" rel="stylesheet" />#}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/main.js' ) }}"></script>
            <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
