{% extends '::base.html.twig' %}


{% block body %}
    <div class="container">
        <img id = "upperImage" src="{{ asset ('bundles/viktorijavikabudget/images/titleImage.jpg')}}" alt = "It is written 'My Budget'" />
        <br>
        <br>
        {{ form_start(form, {"attr": {'class':"form-horizontal", 'novalidate' : 'novalidate' }}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.firstname) }}
                {{ form_errors(form.firstname) }}
                <div class="col-sm-9">
                    {{ form_widget(form.firstname) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.age) }}
                {{ form_errors(form.age) }}
                <div class="col-sm-9">
                    {{ form_widget(form.age) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                <div class="col-sm-9">
                    {{ form_widget(form.email) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                <div class="col-sm-9">
                {{ form_widget(form.username) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_errors(form.password) }}
                <div class="col-sm-9">
                    {{ form_widget(form.password) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 ">
                    {{ form_widget(form.save) }}
                </div>
            </div>


        {{ form_end(form) }}

    </div>

{% endblock %}