{% extends 'ViktorijaVikaBudgetBundle:Default:meniu.html.twig' %}
{%  block title %} {{ parent() }}AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa {% endblock %}

{#jquery input value pagavimas dar neveikia#}
{#{% block userspendingscript %}#}
    {% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){

            //listen for the form beeing submitted
            $(".ExpenseForm").submit(function(){
                //get the url for the form
                var url1="{{path('summing')}}";
                var url2="{{path('expenses_in_detail')}}";

                var form = this;

//                start send the post request
                $.post(url1, {
                    'PriceOfItem': $(this).find(".inputform").val(),
                    'IdOfExpense': $(this).find(".expenseId").val() })
                    .done(function( data ) {
                        var contentToChange = $(form).find(".weekOutput");
                        $(contentToChange).empty().append(data);

                    });
                $.post(url2, {
                    'PriceOfItem': $(this).find(".inputform").val(),
                    'IdOfExpense': $(this).find(".expenseId").val() });

                return false;
            });
        });
    </script>
{% endblock %}
{#input value pagavimo pabaiga#}

{% block content %}
     {#{{ expenses[0].picture }}#}
<div class="container-fluid expenses-fluid">
    <div class="row">
        <div class="col-sm-9">
            {% for expense in expenses %}
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <form class="ExpenseForm" action="#">
                        <a href="http://www.balsas.lt" class="expenseType"> {{ expense.expensetype }} :</a>
                        <div class="inputbuttonimage">
                            <img class="expenseimage" src="{{ asset ('bundles/viktorijavikabudget/images/expense_images/' ~ expense.picture ) }}" alt="Photo of schoolbus!" />
                            <div class="enterprice">
                                <input type="hidden" name="expenseId" class="expenseId" value="{{ expense.id }}" />
                                <input type="number" name="price" class="inputform" value="" min="0" step="0.01" />
                                <input class="addButton plius" type="submit" value="Send" />
                                {#<input type="number" value="" min="0" step="0.01" class="inputform">#}
                                {#<button class="addButton plius">+</button>#}
                            </div>
                        </div>
                    {#</form>#}


                    <div class="outputBlock" >
                        Total this week: <output class="weekOutput"> {{ expense.totalthisweek }} </output>
                        <br>
                        Total this month:  <output class="monthOutput">   {{ expense.totalthismonth }}</output>
                        <br>
                        {#{{ current_date }}#}

                    </div>
                    </form>
                </div>
            {% endfor %}

        </div>


    </div>

</div>
{% endblock %}