{% extends 'ViktorijaVikaBudgetBundle:Default:meniu.html.twig' %}
{%  block title %} {{ parent() }}AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa {% endblock %}

{#jquery input value pagavimas dar neveikia#}
    {% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            //listen for the form being submitted
            $(".ExpenseForm").submit(function(){
                //get the url for the form
                var url="{{path('expenses_in_detail')}}";
                var form = this;

//               caching given input, sending it and showing the answer to the user:
                $.post(url, {
                    'PriceOfItem': $(this).find(".inputform").val(),
                    'IdOfExpense': $(this).find(".expenseId").val() })
                    .done(function( data ) {
                        var contentToChange1 = $(form).find(".weekOutput");
                        $(contentToChange1).empty().append(data);
                    });
                return false;
            });
        });
    </script>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            {% for expense in expenses %}
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <form class="ExpenseForm" action="#">
                        <a href="http://www.balsas.lt" class="expenseType"> {{ expense.expensetype }} :</a>
                        <div class="inputbuttonimage">
                            <img class="expenseimage" src="{{ asset ('bundles/viktorijavikabudget/images/expense_images/' ~ expense.picture ) }}" alt="Photo of schoolbus!" />
                            <div class="enterprice">
                                <input type="hidden" name="expenseId" class="expenseId" value="{{ expense.id }}" />
                                <input type="number" name="price" class="inputform" value="" min="0" step="0.01" />
                                <input class="addButton plius" type="submit" value="Send" />
                            </div>
                        </div>

                    <div class="outputBlock" >
                        Total this week: <output class="weekOutput"> {{ weeklySums[expense.id] }} </output>
                        <br>
                        Total this month:  <output class="monthOutput">   {{ expense.totalthismonth }}</output>
                    </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}