{% extends '::base.html.twig'%}
{#{% use 'GenericBundle:Generic:page.html.twig' with javascripts as page_javascripts %}#}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
//            alert($('img').attr('src'));
//            var imageFile = $('img').attr('src');
//            alert (imageFile);
//
//            var pContent = $('p').text();
//            alert (pContent);

            //changes the photo of cat to a photo of dog:
            {#$('.kitty').attr({src: "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/doggy.jpg')}}", alt: 'This is dog'});#}

            //text switch 9only text switches, images do not exist after that
//            var strongContent = $('strong').text();
//            var pContent = $('p').text();
//            $('strong').text(pContent);
//            $('p').text(strongContent);

            //html switch 9only text switches, images exist after that
//            var strongContent = $('strong').html();
//            var pContent = $('p').html();
//            $('strong').html(pContent);
//            $('p').html(strongContent);

            //changes text inside strong
//            var quote = 'jQuery for Dummies';
//            $('strong').text(quote);
            //changes the odd elements
//            $('strong:odd').text('Changed this text.');
            //changes third element (0,1,2)
//            $('strong:eq(2)').text('Changed this text.');

//            alert( $(':input').length);
//            alert( $(':text').length);
            //adds tick in all checkboxes
//            $(':checkbox').attr({checked:'true'});
            //shows how many height attributes are in this html
//            alert( $('[height]').length);

//           alert( $('[class=kitty]').length);
//            $('div:first-child').text('Change me.');
//            $('div > strong').text('Change me.');

            //pakeičia visus div į src:
//            $(document).ready(function(){
//                var myImage= $('img').attr('src');
//                $('div').text(myImage);
//            });

//            $('.clickme').click(function() {
//                alert('You clicked on something.');
//            });

//            $('.clickme').dblclick(function() {
//                alert('You double-clicked on something.');
//            });

//            $('#textbox2').focus(function() {
//                alert('textbox2 has focus');
//            });
            //e argument contains info which keyboard key was pressed
//            $('input').keypress(function (e) {
//                if (e.which == 90) alert ('Z was typed.')
//            });
            //does the same as hover:
//            $('#mouseoverme').mouseover(function() {
//                $('#outputdiv').text('You moused over the image.'); });
//
//            $('#mouseoverme').mouseout(function() {
//                $('#outputdiv').text('You moused out of the image.'); });

//            $('#mouseoverme').hover(
//                function() {
//                    $('#outputdiv').text('You moused over the image.');
//                },
//                function(){
//                    $('#outputdiv').text('You moused out of the image.');
//                });
            //this does not work, because it was removed
//            $('#toggleme').toggle(
//                function() {
//                    $('#outputdiv').text('You clicked the image once.');
//                },
//                function(){
//                    $('#outputdiv').text('You clicked the image twice.');
//                },
//                function(){
//                    $('#outputdiv').text('You clicked the image three times.');
//                }
//            );/*
            //hides if button is clicked
//            $(':submit').click(function () {
//                $('id').fadeOut('slow');
//            });

//            $('#hideme').click(function () {
//                $('#hideme').hide();
//            });

            //does the same as the code above just instead of 'hideme' is keyword 'this':
//            $('#hideme').click(function () {
//                $(this).hide();
//            });

//            $(':submit').click(function () {
//                $('#slowhide').hide(10000);
//                $('#fasthide').hide('fast');
//            });
//            $(':submit').click(function () {
//                $('#showme').show();
//            });

//            $(':submit').click(function () {
//                $('#slowshow').show(2000);
//                $('#fastshow').show(500);
//            });

            //makes appear if hidden and disappear if shown
//            $(':submit').click(function () {
//                $('div').toggle('slow');
//            });
//
//            $(':submit').click(function () {
//                $('div').toggle('slow',
//                function callback() {
//                    alert('The toggle is finished')
//                });
//            });

            //makes div appear by sliding down on the screen
//            $(':submit').click(function () {
//                $('div').slideDown();
//            });
            //makes div disappear by sliding up:
//            $(':submit').click(function () {
//                $('div').slideUp();
//            });

//            $(':submit').click(function () {
//                $('div').slideToggle();
//            });

//            $(':submit').click(function () {
//                $('div').slideToggle(
//                    function callback() {
//                        alert('The slide effect is finished')
//                    }
//                );
//            });

//            $(':submit').click(function () {
//                $('div').fadeIn(1000);
//            });

//            $(':submit').click(function () {
//                $('div').fadeOut(1000);
//            });

            //fades out only partially
//            $(':submit').click(function () {
//                $('div').fadeTo('slow', .55);
//            });

            //changes the size of div shape or image:
//            $(':submit').click(function(){
//                $('div').animate({
//                    width:'280px',
//                    height: '140px'
//            } );
//        });
            //changes the border of the div:
//            $(':submit').click(function(){
//                $('div').animate({
//                    margin:'20px'
//            });
//        });


//            $(':submit').click(function(){
//                $('.fadethis').animate({
//                    opacity: 0.25
//                });
//            });

//            $(':submit').click(function(){
//                $('div').animate({
//                    fontSize: '50px'
//            }, 10000);
//        });
//            show, hide, and toggle effects can be used also inside the animate function in place of a numeric
//            value for a style:
//            $(':submit').click(function(){
//                $('div').animate({
//                    width:'toggle'
//            } );
//        });
//        $('#gobtn').click(function(){
//            $('div').animate({
//                fontSize: '50px'
//            },3000);
//        });
//        $('#stopbtn').click(function(){
//            $('div').stop();
//        });


//            $(':submit').click(function () {
//                alert( $('div').text() );
//            });
            //changes text in all divs:
//            $(':submit').click(function () {
//                $('div').text('This is new text.') ;
//            });

//            $(':submit').click(function () {
//                alert( $('#outer').html() );
//            });

            //puts info which is in outer inside showcode div. it is the same. if text is used instead of the first html, html is given:
//            $(':submit').click(function () {
//                $('#showcode').html( $('#outer').html());
//            });

            //writes text, which was given in input form, on the alert pop-up:
//            $(':text').mouseout(function () {
//                alert( $(':text').val() );
//            });
            //takes input from form and puts in below it
//            $(':text').mouseout(function () {
//                $('div').text( $(':text').val() );
//            });
            //tracks changes of colorselect value and if changed puts that value inside input field:
//            $('#colorselect').change(function () {
//                $(':text').val( ( $(this).val() ) );
//            });

            //inserts words inside div:
//            $(':submit').click(function () {
//                $('div').append(' Lynn');
//                $('div').prepend('<strong>Hi</strong>, ');
//            });

            //inserts words or images outside div:
//            $(':submit').click(function () {
//                $('div').before('Before<br />');
//                $('div').after('<br />After');
//            });

                //swaps places of two elements:
//            $(':submit').click(function () {
//                $('div').insertBefore('img');
//            });

//            $(':submit').click(function () {
//                $('div').wrapAll('<div style=background-color:red;></div>');
//            });
            //replaces p element with div element:
//            $(':submit').click(function () {
//                $('p').replaceWith('<div>I am a div</div>') ;
//            });

//            $(':submit').click(function () {
//                $('p').replaceWith('<div style=background-color:#aaaaaa>' + $('p').html() + '</div>') ;
//            });

            //does the same as above, just syntax is different:
//            $(':submit').click(function () {
//                $('<div style=background-color:#aaaaaa>' + $('p').html() + '</div>').replaceAll('p') ;
//            });
                //removes info from strong:
//            $(':submit').click(function () {
//                $('strong').remove() ;
//            });
                //removes child elements, parent node(?) remains:
//              $(':submit').click(function () {
//                $('strong').empty() ;
//            });

            //clones image an puts it after every paragraph:
//            $(':submit').click(function () {
//                $('img').clone().insertAfter('p');
//            });

            //clone(true) makes alert function work on every cloned image:
//            $('img').mouseover(function() {
//                alert('Murrr');
//            });
//            $(':submit').click(function () {
//                $('img').clone(true).insertAfter('p');
//            });

            //AJAX TESTING:

            {#$('#kuku').load('{{ path('ajax_test') }}');#}
            {#$('div').load('{{ path('ajax_test') }}');#}

            {#alert('{{ path('ajax_test') }}');#}

            //load only friday id (taisyklingas variantas):
            {#$('div').load('{{ path('ajax_test' ) }} #friday');#}
            //prasti variantai - pirmasissukeia problemų, jei keičiasi routo ar direktorijos pavadinimas, o
            //antrajame maišomos dvi technologijos, nes jquery friday atsiranda viduje twigo užklausos:
            {#$('div').load('/testajax #friday ');#}
            {#$('div').load('{{ path('ajax_test' ) ~ ' #friday' }} ');#}

            $('#testform').submit(function(){
                $.post( '{{ path('ajax_test' ) }}',
                    $('#testform').serialize(),
                    function(data){
                                alert(data);
                    }
                );
                return false;
            });


        });

    </script>
{% endblock %}
{% block body %}

    <form id="testform">
        Email: <input type="text" name="email" />
        <br />
        First Name: <input type="text" name="fname" />
        <br />
        Last Name: <input type="text" name="lname" />
        <br />
        <input type="button" name="submit" id="submit" value="Submit" />
    </form>
    {#<div> Outside <em> Outside <strong> Inside <p> Inside </p> Inside </strong>#}
            {#Outside </em> Outside </div>#}
    {#<input value="Empty" type="submit">#}

    {#<strong>Remove me.</strong>#}
    {#<br />#}
    {#<em>Don’t remove me.</em>#}
    {#<br />#}
    {#Remove the extra word <strong>here</strong> in this sentence.#}
    {#<input value="Remove" type="submit">#}

    {#<div>My name is</div>#}
    {#<div> Inside <img src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" width="250">Inside</div>#}
    {#<p>It will be nice if <strong>this text</strong> and image <img src= "{{ asset#}
        {#('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" width="250">#}
        {#appear inside a gray div when the#}
        {#button is clicked.</p>#}
    {#<div id="kuku">Put an image after this line.</div>#}
    {#<p>Put an image after this line.</p>#}
    {#<p>Put an image after this line.</p>#}
    {#<p>Put an image after this line.</p>#}
    {#<br />#}
    {#<input value="Copy" type="submit">#}


    {#<div>Move the house!</div>#}
    {#<br />#}

    {#<div>Color me red.</div>#}
    {#<br />#}
    {#<div>Me too.</div>#}


    {#<div>This is text from a div.</div>#}
    {#<div>This is text from a another div.</div>#}
    {#<br />#}
    {#<input value="Get Text" type="submit">#}

    {#<div class="fadethis" style="width:200px; height:200px; background-color: gray; border:10px">My div</div>#}
    {#<br />#}


    {#<input type = "text" />#}
    {#<select id="colorselect">#}
        {#<option>Red</option>#}
        {#<option>Green</option>#}
        {#<option>Yellow</option>#}
    {#</select>#}
    {#<div></div>#}



    {#<div id="outer">#}
        {#<div>This is text from a div.</div>#}
        {#<img src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" width="350">#}

        {#<div>This is text from a another div.</div>#}
    {#</div>#}
    {#<br />#}
    {#<input value="Get HTML" type="submit">#}
    {#<div id="showcode"></div>#}

    {#<div class="fadethis"><img src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" width="150"></div>#}
   {##}

    {#<div>I’d like to say a few short words.</div>#}
    {#<br />#}
    {#&#123;&#35;<input value="Animate" type="submit">&#35;&#125;#}
    {#<input id="gobtn" value="Animate" type="submit">#}
    {#<br />#}
    {#<input id="stopbtn" value="Stop" type="submit">#}

    {#<div style="width:200px; height:200px; background-color: gray; border:10px;#}
         {#border-color:red; border-style:dotted">My div</div>#}

    {#<div style="display:none"><img src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" width="150"></div>#}
    {#<div><img src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" width="150"></div>#}
    {#<input value="Partial fade" type="submit">#}
    {#<input value="Slide Up" type="submit">#}
    {#<div>This will be hidden.</div>#}
    {#<div style="display:none">This is initially hidden.</div>#}
    {#<div>This will be an animated toggle.</div>#}
    {#<input value="Toggle" type="submit">#}


    {#<div id="slowshow" style="display:none">This will be shown slowly.</div>#}
    {#<div id="fastshow" style="display:none">This will be shown quickly.</div>#}
    {#<input value="Show" type="submit">#}


    {#<div id="slowhide">This will be hidden slowly.</div>#}
    {#<div id="fasthide">This will be hidden quickly.</div>#}
    {#<div>This will not be hidden.</div>#}
    {#<input value="Hide" type="submit">#}


    {#<div id="hideme">This will be hidden.</div>#}
    {#<div>This will not be hidden.</div>#}
    {#&#123;&#35;<input value="Hide" type="submit">&#35;&#125;#}

    {#<img src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" width="150" id="toggleme">#}
    {#<div id="outputdiv">This text will change.</div>#}

    {#<img src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" width="150" id="mouseoverme">#}
    {#&#123;&#35;<div id="outputdiv">This text will change.</div>&#35;&#125;#}

    {#Type the letter Z: <input type="text" id="textbox1" />#}


    {#First Name: <input type=”text” id="textbox1" />#}
    {#<br />#}
    {#Last Name: <input type=”text” id="textbox2" />#}

    {#<div class="clickme"><img class="kitty" src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" height='128' width='128' alt="This is cat."/></div>#}


    {#<div id="myfirstdiv">#}
        {#<strong class=”changemytext”>some name</strong>#}
        {#<p class=”changemytext”>Some text</p>#}
        {#<strong>another name</strong>#}
        {#<p>More text<p>#}
    {#</div>#}
    {#<div id=”myseconddiv”>#}
        {#<strong class=”changemytext”>some name</strong>#}
        {#<p class=”changemytext”>Some text<p>#}
        {#<strong>another name</strong>#}

    {#</div>#}

    {#<strong>This is the code in the <em>STRONG</em> element.</strong>#}
    {#<p>This is the code in the <em>P</em> element.#}
        {#<img src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/home.gif')}}" height='28' width='28' alt="This is a test image."/>#}
        {#<img class="kitty" src= "{{ asset ('bundles/viktorijavikabudget/images/for_jquery_tests/kitty.jpg')}}" height='128' width='128' alt="This is cat."/>#}
    {#</p>#}



    {#<form action="" method="post">#}
        {#Your name<input type="text" />#}
        {#<input type="checkbox" />#}
        {#<input type = "radio" />#}
        {#<select><option>First Choice</option></select>#}
        {#<input type="submit" />#}
    {#</form>#}
{% endblock %}

